web/WEB-INF/wsdl/localhost_9128/ICU.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:9128/ICU?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="CantClientes"></message>
<message name="CantClientesResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="obtenercoleccion"></message>
<message name="obtenercoleccionResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="ExcepcionDatosCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:string"></part>
<part name="arg8" type="xsd:string"></part>
<part name="arg9" type="xsd:string"></part>
</message>
<message name="ExcepcionDatosClienteResponse"></message>
<message name="ExcepcionesPersonalizadas">
<part name="fault" element="tns:ExcepcionesPersonalizadas"></part>
</message>
<message name="Caso_Registro_Cliente">
<part name="arg0" type="tns:dataCliente"></part>
</message>
<message name="Caso_Registro_ClienteResponse"></message>
<message name="Caso_Ver_Cliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Caso_Ver_ClienteResponse">
<part name="return" type="tns:dataCliente"></part>
</message>
<message name="ExcepcionDatosRestaurante">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="tns:arrayList"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="ExcepcionDatosRestauranteResponse"></message>
<message name="Caso_Registro_Restaurante">
<part name="arg0" type="tns:dataRestaurante"></part>
</message>
<message name="Caso_Registro_RestauranteResponse"></message>
<message name="getCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getCategoriaResponse">
<part name="return" type="tns:categoria"></part>
</message>
<message name="findRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="findRestauranteResponse">
<part name="return" type="tns:restaurante"></part>
</message>
<message name="AltaCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="AltaCategoriaResponse"></message>
<message name="getProductoRestaurante">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getProductoRestauranteResponse">
<part name="return" type="tns:producto"></part>
</message>
<message name="ExcepcionCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="ExcepcionCategoriaResponse"></message>
<message name="findCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="findClienteResponse">
<part name="return" type="tns:cliente"></part>
</message>
<message name="Caso_Ver_Restaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="Caso_Ver_RestauranteResponse">
<part name="return" type="tns:dataRestaurante"></part>
</message>
<portType name="Publicador">
<operation name="CantClientes">
<input wsam:Action="http://Servidor/Publicador/CantClientesRequest" message="tns:CantClientes"></input>
<output wsam:Action="http://Servidor/Publicador/CantClientesResponse" message="tns:CantClientesResponse"></output>
</operation>
<operation name="obtenercoleccion">
<input wsam:Action="http://Servidor/Publicador/obtenercoleccionRequest" message="tns:obtenercoleccion"></input>
<output wsam:Action="http://Servidor/Publicador/obtenercoleccionResponse" message="tns:obtenercoleccionResponse"></output>
</operation>
<operation name="ExcepcionDatosCliente" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
<input wsam:Action="http://Servidor/Publicador/ExcepcionDatosClienteRequest" message="tns:ExcepcionDatosCliente"></input>
<output wsam:Action="http://Servidor/Publicador/ExcepcionDatosClienteResponse" message="tns:ExcepcionDatosClienteResponse"></output>
<fault message="tns:ExcepcionesPersonalizadas" name="ExcepcionesPersonalizadas" wsam:Action="http://Servidor/Publicador/ExcepcionDatosCliente/Fault/ExcepcionesPersonalizadas"></fault>
</operation>
<operation name="Caso_Registro_Cliente">
<input wsam:Action="http://Servidor/Publicador/Caso_Registro_ClienteRequest" message="tns:Caso_Registro_Cliente"></input>
<output wsam:Action="http://Servidor/Publicador/Caso_Registro_ClienteResponse" message="tns:Caso_Registro_ClienteResponse"></output>
</operation>
<operation name="Caso_Ver_Cliente">
<input wsam:Action="http://Servidor/Publicador/Caso_Ver_ClienteRequest" message="tns:Caso_Ver_Cliente"></input>
<output wsam:Action="http://Servidor/Publicador/Caso_Ver_ClienteResponse" message="tns:Caso_Ver_ClienteResponse"></output>
</operation>
<operation name="ExcepcionDatosRestaurante" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://Servidor/Publicador/ExcepcionDatosRestauranteRequest" message="tns:ExcepcionDatosRestaurante"></input>
<output wsam:Action="http://Servidor/Publicador/ExcepcionDatosRestauranteResponse" message="tns:ExcepcionDatosRestauranteResponse"></output>
<fault message="tns:ExcepcionesPersonalizadas" name="ExcepcionesPersonalizadas" wsam:Action="http://Servidor/Publicador/ExcepcionDatosRestaurante/Fault/ExcepcionesPersonalizadas"></fault>
</operation>
<operation name="Caso_Registro_Restaurante">
<input wsam:Action="http://Servidor/Publicador/Caso_Registro_RestauranteRequest" message="tns:Caso_Registro_Restaurante"></input>
<output wsam:Action="http://Servidor/Publicador/Caso_Registro_RestauranteResponse" message="tns:Caso_Registro_RestauranteResponse"></output>
</operation>
<operation name="getCategoria">
<input wsam:Action="http://Servidor/Publicador/getCategoriaRequest" message="tns:getCategoria"></input>
<output wsam:Action="http://Servidor/Publicador/getCategoriaResponse" message="tns:getCategoriaResponse"></output>
</operation>
<operation name="findRestaurante">
<input wsam:Action="http://Servidor/Publicador/findRestauranteRequest" message="tns:findRestaurante"></input>
<output wsam:Action="http://Servidor/Publicador/findRestauranteResponse" message="tns:findRestauranteResponse"></output>
</operation>
<operation name="AltaCategoria">
<input wsam:Action="http://Servidor/Publicador/AltaCategoriaRequest" message="tns:AltaCategoria"></input>
<output wsam:Action="http://Servidor/Publicador/AltaCategoriaResponse" message="tns:AltaCategoriaResponse"></output>
</operation>
<operation name="getProductoRestaurante" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/Publicador/getProductoRestauranteRequest" message="tns:getProductoRestaurante"></input>
<output wsam:Action="http://Servidor/Publicador/getProductoRestauranteResponse" message="tns:getProductoRestauranteResponse"></output>
</operation>
<operation name="ExcepcionCategoria">
<input wsam:Action="http://Servidor/Publicador/ExcepcionCategoriaRequest" message="tns:ExcepcionCategoria"></input>
<output wsam:Action="http://Servidor/Publicador/ExcepcionCategoriaResponse" message="tns:ExcepcionCategoriaResponse"></output>
<fault message="tns:ExcepcionesPersonalizadas" name="ExcepcionesPersonalizadas" wsam:Action="http://Servidor/Publicador/ExcepcionCategoria/Fault/ExcepcionesPersonalizadas"></fault>
</operation>
<operation name="findCliente">
<input wsam:Action="http://Servidor/Publicador/findClienteRequest" message="tns:findCliente"></input>
<output wsam:Action="http://Servidor/Publicador/findClienteResponse" message="tns:findClienteResponse"></output>
</operation>
<operation name="Caso_Ver_Restaurante">
<input wsam:Action="http://Servidor/Publicador/Caso_Ver_RestauranteRequest" message="tns:Caso_Ver_Restaurante"></input>
<output wsam:Action="http://Servidor/Publicador/Caso_Ver_RestauranteResponse" message="tns:Caso_Ver_RestauranteResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="CantClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="obtenercoleccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="ExcepcionDatosCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="ExcepcionesPersonalizadas">
<soap:fault name="ExcepcionesPersonalizadas" use="literal"></soap:fault>
</fault>
</operation>
<operation name="Caso_Registro_Cliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="Caso_Ver_Cliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="ExcepcionDatosRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="ExcepcionesPersonalizadas">
<soap:fault name="ExcepcionesPersonalizadas" use="literal"></soap:fault>
</fault>
</operation>
<operation name="Caso_Registro_Restaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="getCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="findRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="AltaCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="getProductoRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="ExcepcionCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
<fault name="ExcepcionesPersonalizadas">
<soap:fault name="ExcepcionesPersonalizadas" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
<operation name="Caso_Ver_Restaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9128/ICU"></soap:address>
</port>
</service>
</definitions>